.detalles {
  flex: 1;
  padding: 10px;
  border: 2px solid #10db2b;
}

.title {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.5em;
  color: #13200f;
  text-shadow: 0px 0px 3px rgba(64, 255, 0, 1);
}

.title-secondary {
  font-weight: 300;
  letter-spacing: 1px;
  color: #10db2b;
  text-shadow: 0px 0px 10px rgba(64, 255, 0, 1);
  font-size: 1.5em;
}

.skills {
  font-weight: 300;
  letter-spacing: 1px;
}

.redes a {
  transition: all 0.3s ease-in-out;
  color: #13200f;
  text-shadow: 0px 0px 3px rgba(64, 255, 0, 1);
  font-size: x-large;
}

.redes a:hover {
  transform: scale(1.5);
  transition: all 0.3s ease-in-out;
}

.galeria {
  flex: 1;
  height: 28rem;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.imagen-principal {
  width: 90%;
  height: 90%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.imagen-principal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  filter: grayscale(1);
}

.imagen-principal img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  filter: grayscale(0);
}
